<div class="container__big-card"> 
    <div class="big-card__left-side">
        <div class="category">
            <p>Música</p>
        </div>
        <div class="title">
            <h1>Novo álbum de The Smile</h1>
        </div>
        <div class="buttons">
            <button class="button__read-article">
                Ler artigo
                <img src="assets/arrow-up-right-white.svg"/>
            </button>
            <button class="button__author">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR8P67bkZlE9wB5UpqkrX_BJNAeYd8wpRR6g&s"/>
                por Anhony Fantano
            </button>
        </div>
    </div>
    <div class="big-card__right-side">
        <div class="subtitle">
            <hr>
            <p>O snazzyblog já ouviu. Leia a review completa na coluna de Anthony Fantano</p>
        </div>
    </div>
</div>