.container__small-card{
    height: 42vh;
    width: 26vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    gap: 10px;

    font-size: 13px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}