<!-- <app-small-card
  postCategory="Review"
  postTitle="Novo álbum do The Smile"
  postSubtitle="O snazzyblog já ouviu. Leia a review completa na coluna de Anthony Fantano"
  postCoverURL="https://static.euronews.com/articles/stories/07/51/01/36/808x1206_cmsv2_fa1d0c85-6dd5-531b-86ad-c2c98c676a1b-7510136.jpg"
  postAuthorAvatarURL="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR8P67bkZlE9wB5UpqkrX_BJNAeYd8wpRR6g&s"
  postAuthor="Anthony Fantano"
class="container__content"
></app-small-card> -->
<div class="container__content">
  <div
    class="content__cover"
    [style.backgroundImage]="
      'url(https://static.euronews.com/articles/stories/07/51/01/36/808x1206_cmsv2_fa1d0c85-6dd5-531b-86ad-c2c98c676a1b-7510136.jpg)'
    "
  ></div>

  <div class="content__post">
    <div class="post__info">
      <div class="info__title">
        <p>Review</p>
        <h1>Novo álbum do The Smile</h1>
      </div>

      <button class="button__author">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR8P67bkZlE9wB5UpqkrX_BJNAeYd8wpRR6g&s"
        />
        por Anthony Fantano
      </button>
    </div>

    <pre>
        Pode ser imprudente especular prematuramente sobre o futuro do Radiohead, ainda uma das bandas mais importantes do mundo. Mas, ao ser confrontado com este sucessor seguro, sinuoso e melódico de *A Light for Attracting Attention* de 2022, o Smile está, de forma categórica, onde Thom Yorke e Jonny Greenwood estão gastando suas energias de ponta neste momento – essa versão mais enxuta e ágil do som de Yorke e Greenwood, auxiliada pelo baterista Tom Skinner, do Sons of Kemet.
        
        Em relação à funk e raiva de *A Light...*, *Wall of Eyes* adiciona psicodelia, motorik alemão dos anos 70 e as cordas da London Contemporary Orchestra. É um álbum mais ponderado, que se desenrola, mas mantém o alto nível do Smile. A agenda de turnês da banda permitiu que este novo álbum do Smile crescesse de forma orgânica a partir de seu antecessor. Algumas músicas destinadas a *Wall of Eyes* foram estreadas ao vivo e incorporadas aos setlists nos últimos dois anos. *Bending Hectic*, a peça de tirar o fôlego de *Wall of Eyes*, que remete a um acidente de carro, foi lançada há um ano, supostamente como um lançamento independente. (Um álbum ao vivo gravado no festival de jazz de Montreux foi lançado em dezembro de 2022, seguido por um EP limitado de vinil em 2023, *Europe: Live Recordings*.)
        
        A faixa de destaque *Friend of a Friend* começou sua vida ao vivo em 2022 como *People on Balconies*. A letra descreve vizinhos socializando ao ar livre na Itália, uma prática comum durante os lockdowns da Covid-19 (a parceira de Yorke, Dajana Roncione, é italiana). Os eventos tomam um rumo amargo (“damos uma queda”) e suspeito (“Todo aquele dinheiro/ Onde foi parar?”). Construída a partir de piano e cordas cada vez mais alarmadas, *Friend of a Friend* encontra o Smile – teoricamente um desvio de jazz do Radiohead – também fazendo uma virada inesperada, quase beatlesca.
        
        Outras faixas, como *Under Our Pillows* – construída em torno de uma penetrante figura de guitarra de Greenwood – já estavam disponíveis por meio de vídeos de fãs no YouTube. A melancólica e nostálgica *Teleharmonic*, com flauta, apareceu em uma versão anterior na série *Peaky Blinders* (com um nome ligeiramente diferente). Diferentes artistas seguem uma ampla variedade de caminhos na apresentação de seu trabalho atualmente, desde o lançamento de faixas inéditas de uma vez até revelações prolongadas nas redes sociais. O fato de haver faixas favoritas dos fãs que ainda não chegaram a versões gravadas faz o Smile parecer menos um projeto paralelo e mais uma banda viva e crescente, que está trabalhando em um corpo significativo de trabalho em tempo real.
        
        Claro que já houve inúmeros desdobramentos do Radiohead antes – Atoms for Peace, álbuns solo de Yorke, geralmente eletrônicos, as trilhas sonoras de Greenwood para filmes de Paul Thomas Anderson, um trabalho solo de Ed O’Brien. Mas o Smile agora parece um organismo vivo e pulsante, tão dinâmico e real quanto o trabalho diário de Yorke e Greenwood. A dupla naturalmente oferece continuidade entre os projetos; *Wall of Eyes* já foi, em algum momento, cogitado como um título de EP do Radiohead. Como acontece com as muitas saídas de Damon Albarn, seu conjunto central de preocupações e vozes melódicas características permanecem muitas vezes consistentes através das diferentes configurações.
        
        Vale a pena destacar as diferenças que permanecem, claro. Uma delas é Skinner, que também já tocou com Floating Points e Kano. Ele é uma década mais jovem do que O’Brien e Yorke, e seu papel, em teoria, tem sido adicionar ritmos ainda mais complexos às muitas intrincadas figuras musicais de Yorke e Greenwood. Mas ele também é um multi-instrumentista habilidoso com um conjunto inteiramente novo de contribuições, cujos créditos nos teclados confirmam uma ampliação crescente de suas funções.
        
        Outra diferença está mais relacionada ao clima. No Smile, parece que Yorke e Greenwood se sentem liberados para evitar as expectativas, a administração e os problemas que surgem ao dar início à “mothership”. Dá para entender o apelo: três músicos, às vezes acompanhados pelo saxofonista Robert Stillman; eles podem se mover com mais agilidade e criar jams híbridos de funk/clássico moderno à vontade.
        
        Yorke poderia estar se enfurecendo contra qualquer número de coisas em *Read the Room*, uma processional soberba que se transforma em uma caminhada motorik no meio da música. Mas os mais ansiosos entre os fãs do Radiohead, já um grupo que se auto-seleciona para a inquietação, facilmente poderiam projetar muito sobre essas letras. “E quando o momento certo chegar,” canta Yorke, “E quando o fim chegar/ Talvez você não consiga, talvez você não consiga/ Se dar ao trabalho de meio milhão.”
        
        O que *Wall of Eyes* não tem é o choque do novo. É um segundo álbum, e muito dele já está disponível online, com duas novidades. *You Know Me!* termina o álbum com o que soa como uma doce canção de amor virada de cabeça para baixo, com a falsete de Yorke ponderando sobre aqueles – talvez críticos de álbuns – que pensam que o conhecem, mas não o conhecem.
        
        O sutil e crescente *I Quit*, por sua vez, combina guitarra, piano e percussão para criar um efeito Doppler que reverbera com eletrônicos. “Essa é a minha parada, esse é o fim da viagem,” canta Yorke. Na mesma respiração, ele reflete sobre “consciência” e “irmandade” e “um novo caminho fora da loucura, para onde quer que ele vá”. Esse caminho pode muito bem ter a forma de um sorriso.</pre
    >
  </div>
</div>
