<div class="container__content">
  <div
    class="content__cover"
    [style.backgroundImage]="
      'url(' + postCoverURL + ')'
    "
  ></div>

  <div class="content__post">
    <div class="post__info">
      <div class="info__title">
        <p>{{postCategory}}</p>
        <h1>{{postTitle}}</h1>
      </div>

      <button class="button__author">
        <img
          src="{{postAuthorAvatarURL}}"
        />
        por {{postAuthor}}
      </button>
    </div>

    <pre>{{postText}}</pre
    >
  </div>
</div>
