.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  height: 100%;
  margin: 20px;
  grid-auto-rows: 300px;
}

app-big-card {
  grid-column: span 2;
  grid-row: span 2;
}

app-small-card {
  grid-column: span 1;
}

@media (max-width: 1024px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
  app-big-card {
    grid-column: span 2;
  }

  app-small-card {
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .articles {
    grid-template-columns: 1fr;
  }
  app-big-card {
    grid-column: span 1;
  }

  app-small-card {
    grid-column: span 1;
  }
}
