<div class="container__menu-bar">
    <div class="left-side">
        <h1>snazzyblog™</h1>
    </div>
    <div class="right-side">
        
        <button class="search-button">
            <img src="assets/search.svg" alt="search">
        </button>

        <button class="contact-button">
            contact&#64;snazzyblog.co
            <img src="assets/arrow-up-right-black.svg" alt="contact">
        </button>

        <button class="menu-burger-button">
            <img src="assets/menu-burger.svg" alt="menu">
        </button>
    </div>
</div>
