.container__menu-bar {

    display: flex;
    justify-content: space-between;
    padding: 15px 20px;

  .left-side {
    h1 {
      font-weight: 400;
    }
  }

  .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;


    button {
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        height: 40px;
        background: #ffffff;
    }

    .search-button {
        img {
            height: 20px;
        }
    }

    .contact-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:10px;

        img {
            height: 15px;
        }
    }

    .menu-burger-button {
        border: none;

        img {
            height: 30px;
        }
    }
  }
}
